{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/jasiya.css' %}">
</head>

<body>
    <h1> (-_-)Jack sparrow(-_-)</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quibusdam aut voluptates neque numquam suscipit,
        aliquid similique molestiae asperiores ex fugiat nam excepturi hic est, maxime, error laudantium autem
        perspiciatis ad doloremque molestias! Architecto nobis vitae rem libero molestias molestiae officiis ut
        cupiditate ullam rerum? Accusamus doloremque voluptas cupiditate, cum maxime accusantium vero, delectus
        veritatis iusto deserunt optio soluta explicabo impedit amet corrupti minima illo excepturi est ad suscipit,
        quas et iste repellat. Dolor, sapiente! Deserunt, nam ipsam cumque voluptas totam, at aspernatur unde in ut
        recusandae iste amet quo blanditiis error et perspiciatis enim consectetur id ex eum adipisci animi? Libero
        minima dicta nisi eaque aliquid, officiis obcaecati corporis! Suscipit illo cumque debitis pariatur minus rerum,
        voluptate laboriosam accusamus libero culpa quibusdam laborum doloremque, blanditiis aspernatur. Quibusdam quos
        repellat enim commodi placeat voluptatem maxime fugiat exercitationem quia? Nobis id nemo eius deserunt tempore
        vitae quod nisi consequuntur laudantium quibusdam, amet reiciendis vero itaque assumenda aut magni omnis
        quaerat! Ipsa pariatur asperiores fuga vel repudiandae officiis velit esse voluptate corporis ad atque at porro
        vitae laborum, quam ratione distinctio deleniti nihil quia fugit quasi! Beatae libero ipsa quaerat incidunt,
        velit, error qui itaque possimus ad optio cupiditate quibusdam officia suscipit!</p>
    <img src="{% static 'images/jasiya.jpg' %}" alt="" height="400px" width="600px">
    <div>
        <h1 id="aa">MY LOVE 4 TOYS: ++Hot Toys Movie Masterpiece DX-06 Captain Jack Sparrow
            blogspot.comblogspot.com|1065 × 1600 jpeg|3 yrs ago
            Visit sitePagesImage sizes
            Image may be subject to copyright.
            Looks like
            Johnny Depp
            Johnny Depp
            American Actor
            Movies
            TV shows</h1>
    </div>

</body>

</html>